In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv')

In [3]:
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [4]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv', index_col="country")

In [5]:
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [7]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [8]:
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [9]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

# Pandas DataFrames

In [10]:
europe_df = pd.read_csv("../data/gapminder_gdp_europe.csv", index_col="country")

In [11]:
europe_df.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [12]:
europe_df.iloc[0, 0]

1601.056136

In [14]:
europe_df.loc["Albania", "gdpPercap_1952"]

1601.056136

In [15]:
europe_df.loc["Albania", :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [18]:
europe_df.loc[:, "gdpPercap_1952"]

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

In [19]:
europe_df.loc["Italy":"Poland", "gdpPercap_1952":"gdpPercap_1992"]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992
country,,,,,,,,,
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037
Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610
Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247

In [26]:
subset = europe_df.loc["Poland":"Serbia", "gdpPercap_1952":"gdpPercap_1992"]
subset.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,3455.930550,4358.321470,5272.833444,6845.311095,8890.559076,10504.423494,11247.945167,11922.202934,9967.406505
std,444.111334,589.382321,735.839395,768.445059,1187.940089,1688.443015,2957.687790,3154.863178,4307.548249
min,3068.319867,3774.571743,4727.954889,6361.517993,8006.506993,9356.397240,8451.531004,9082.351172,6598.409903
25%,3125.539856,3901.170605,4733.236912,6443.529407,8010.187550,9470.205401,9316.868291,9542.792764,7453.763411
50%,3363.036317,4338.811622,5036.874864,6514.009660,8516.830910,9840.313587,10679.578482,11367.791027,8531.974743
75%,3693.427011,4795.962487,5576.471397,6915.791348,9397.202435,10874.531680,12610.655357,13747.201197,11045.617836
max,4029.329699,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,16207.266630

In [30]:
is_wealthy = europe_df > 10000
europe_df[is_wealthy].describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,6.000000,12.000000,14.000000,19.000000,23.000000,24.000000,24.000000,20.000000,22.000000,23.000000,25.000000
mean,12414.827235,12235.053360,12562.848231,14244.442589,15630.413747,16570.263335,17927.375400,19844.531305,22310.494522,23644.097234,26297.621419,28430.096542
std,3280.134736,2822.857359,2771.809512,3144.104144,4065.167257,4448.730416,4810.928255,5746.825995,6064.166995,7523.823714,8408.520262,9831.063348
min,10095.421720,10187.826650,10136.867130,10022.401310,10168.656110,10172.485720,11222.587620,11732.510170,10535.628550,10159.583680,11628.388950,10680.792820
25%,11255.124478,11143.792873,10703.162215,12875.931215,12554.157885,13108.795365,13750.082937,15291.953978,17554.485747,17917.698205,20315.463615,20509.647770
50%,12414.827235,11279.685695,12403.309495,13731.373285,15895.116410,15605.422830,18049.573135,20174.123525,23292.554685,24970.809725,28926.032340,30470.016700
75%,13574.529992,11561.274268,13039.447560,15337.012762,17924.102455,19702.192385,21448.866250,23660.449225,26431.380680,27993.045785,31664.851010,35278.418740
max,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170

In [32]:
europe_df[is_wealthy].sum(axis=1)

country
Albania                        0.00000
Austria                   229963.32083
Belgium                   220751.03111
Bosnia and Herzegovina         0.00000
Bulgaria                   10680.79282
Croatia                    64597.40262
Czech Republic            151907.65238
Denmark                   250369.51341
Finland                   186342.89499
France                    210310.19970
Germany                   239536.09880
Greece                    144651.16429
Hungary                   102477.24947
Iceland                   229865.37743
Ireland                   154475.97748
Italy                     175518.86535
Montenegro                 22955.09779
Netherlands               252044.65464
Norway                    320967.67865
Poland                     37551.74744
Portugal                  109294.49122
Romania                    10808.47561
Serbia                     54554.70826
Slovak Republic            78751.80084
Slovenia                  142009.87415
Spain                     146271.72442
Sweden                    220877.79036
Switzerland               324892.01286
Turkey                         0.00000
United Kingdom            222586.16734
dtype: float64

In [34]:
europe_df.mean()

gdpPercap_1952     5661.057435
gdpPercap_1957     6963.012816
gdpPercap_1962     8365.486814
gdpPercap_1967    10143.823757
gdpPercap_1972    12479.575246
gdpPercap_1977    14283.979110
gdpPercap_1982    15617.896551
gdpPercap_1987    17214.310727
gdpPercap_1992    17061.568084
gdpPercap_1997    19076.781802
gdpPercap_2002    21711.732422
gdpPercap_2007    25054.481636
dtype: float64

In [39]:
is_wealthy = europe_df > europe_df.mean()
wealth_score = is_wealthy.mean(axis=1)

In [40]:
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

In [43]:
europe_df.groupby(wealth_score).mean()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,3076.404517,3842.576566,4737.505453,5943.737399,7380.778908,8704.946536,9462.814042,9970.799951,7698.337271,8647.744800,9882.577489,12464.779827
0.333333,4197.511720,5235.614200,6436.233830,8391.916917,11319.459994,13465.114187,14919.908505,16109.228240,16979.523305,20219.012895,25521.698802,30700.932380
0.500000,5903.772203,7252.500075,9190.224735,10710.923100,12688.863690,14528.072685,15957.356025,17758.839110,18155.333040,20361.769350,22782.154195,25701.514105
1.000000,8693.106463,10611.000728,12499.096183,14833.362503,17930.195262,20095.284394,21949.065163,24735.427601,26269.852998,28910.910514,32092.494934,35654.194452

# Looping over datasets

In [45]:
import glob

In [48]:
glob.glob("../data/gapminder_gdp_*.csv")

['../data/gapminder_gdp_americas.csv',
 '../data/gapminder_gdp_europe.csv',
 '../data/gapminder_gdp_oceania.csv',
 '../data/gapminder_gdp_africa.csv',
 '../data/gapminder_gdp_asia.csv']

In [50]:
filenames = glob.glob("../data/gapminder_gdp_*.csv")

for filename in sorted(filenames):
    data = pd.read_csv(filename, index_col='country')
    print(filename, data.min())

../data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
../data/gapminder_gdp_americas.csv continent         Americas
gdpPercap_1952     1397.72
gdpPercap_1957      1544.4
gdpPercap_1962     1662.14
gdpPercap_1967     1452.06
gdpPercap_1972     1654.46
gdpPercap_1977      1874.3
gdpPercap_1982     2011.16
gdpPercap_1987     1823.02
gdpPercap_1992     1456.31
gdpPercap_1997     1341.73
gdpPercap_2002     1270.36
gdpPercap_2007     1201.64
dtype: object
../data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64
../data/gapminder_gdp_europe.csv gdpPercap_1952     973.533195
gdpPercap_1957    1353.989176
gdpPercap_1962    1709.683679
gdpPercap_1967    2172.352423
gdpPercap_1972    2860.169750
gdpPercap_1977    3528.481305
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
dtype: float64
../data/gapminder_gdp_oceania.csv gdpPercap_1952    10039.59564
gdpPercap_1957    10949.64959
gdpPercap_1962    12217.22686
gdpPercap_1967    14463.91893
gdpPercap_1972    16046.03728
gdpPercap_1977    16233.71770
gdpPercap_1982    17632.41040
gdpPercap_1987    19007.19129
gdpPercap_1992    18363.32494
gdpPercap_1997    21050.41377
gdpPercap_2002    23189.80135
gdpPercap_2007    25185.00911
dtype: float64

# Writing Functions

In [51]:
def print_greeting():
    print("Hi! From inside a function...")

In [52]:
print_greeting()

Hi! From inside a function...

In [53]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)

In [54]:
print_date(2020, 2, 2)

2020 / 2 / 2

In [55]:
print_date(day=2, month=2, year=1980)

1980 / 2 / 2

In [56]:
print(2020, 31, 3)

2020 31 3

# this is some text